{% comment %}
  Advertising box at the top of a workshop website home site.
{% endcomment %}

{% assign begin_address = site.address | slice: 0, 4 | downcase  %}
{% if site.address == "online" %}
{% assign online = "true_private" %}
{% elsif begin_address contains "http" %}
{% assign online = "true_public" %}
{% else %}
{% assign online = "false" %}
{% endif %}

<div class="jumbotron">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {% unless site.title == "Workshop Title" or site.title == "" %}
      <h1>{{site.title}}</h1>
      {% endunless %}
      <h2>{{site.venue}}</h2>
      <div class="row">
        <div class="col-md-6">
          {% if online == "true_public" %}
          <p>Online (<a href="{{site.address}}">link</a>)</p>
          {% elsif online == "true_private" %}
          <p>Online</p>
          {% endif %}
          <p>{{site.humandate}}</p>
          <p>{% if site.humantime %}{{site.humantime}}{% endif %}</p>
        </div>
        <div class="col-md-6">
          <p>
          <strong>Instructors:</strong>
          {% if site.instructor %}
          {{site.instructor | join: ', ' %}}
          {% else %}
          to be announced.
          {% endif %}
          </p>
          {% if site.helper %}
          <p>
          <strong>Helpers:</strong>
          {{site.helper | join: ', ' %}}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
