<div class="row">
 <div class="row">
  <div class="col-md-6">
   <a href="shell-novice-introducing-the-shell">
    <h3>
     Automating Tasks with the Unix Shell
    </h3>
   </a>
   <h4>
    8 January 2022
   </h4>
   <table class="table table-striped">
    <tr>
     <td>
      10:30
     </td>
     <td>
      Registration, questions, and technical help
     </td>
    </tr>
    <tr>
     <td>
      11:00
     </td>
     <td>
      Teaching
     </td>
    </tr>
    <tr>
     <td>
      12:15
     </td>
     <td>
      Break
     </td>
    </tr>
    <tr>
     <td>
      12:30
     </td>
     <td>
      Teaching
     </td>
    </tr>
    <tr>
     <td>
      13:45
     </td>
     <td>
      Wrap Up
     </td>
    </tr>
    <tr>
     <td>
      12:30
     </td>
     <td>
      Finish
     </td>
    </tr>
   </table>
  </div>
 </div>
</div>