{% comment %}
This is a custom setup generated iteratively for the RSG workshops.
{% endcomment %}

<h3>Text Editor</h3>

A text editor is the piece of software you use to view and write code. If you
have a preferred text editor, please use it. Suggestions for text editors are,
Notepad++ (Windows), TextEdit (macOS), Gedit (GNU/Linux), GNU Nano, Vim.
Alternatively, there are IDE's (integrated developer environments) that have
more features specifically for coding such as VS Code; there are also IDEs
specific to languages will be listed in the appropriate section(s) below.

{% for lesson in site.lessons %}
{% assign setup = 'rsg/' | append: lesson.gh-name | append: '-lesson/setup.md' %}
<h3>{{ lesson.title }}</h3>
{% include {{ setup }} %}
{% endfor %}
